@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap');


body{
    background: linear-gradient(270deg, #ffba8d -10.32%, #ffffff 100%);
    overflow: hidden;
    background-attachment: fixed;
}

.options
{
    padding-bottom: 8px !important;
}

.nosotros
{
border-width: 5px !important;
border-color: black !important;
}

.btn-catto
{
    background-color: #ff6804 !important;
    color: #ffffff !important;
    border-radius: 90px !important;
    border-color: transparent !important;
}
.btn-catto:hover{text-decoration: none;}

.radius
{
    border-radius: 25px !important;
}

.patreon{
width: 140px;
height: 35px;
border-radius: 25px !important;
}
.patreon:hover{text-decoration: none;}

/*seccion 1*/

.seccion1
{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 82px;
    font-weight: bold;
}

.botones
{
    padding-top: 210px;
}
.botones:hover
{
    text-decoration: none;
}

.star{width: 25px !important;}

.start
{
    background-color: #ff6804 !important;
    color: #ffffff !important;
    border-radius: 90px !important;
    border-color: #000000 !important;
    font-weight: normal !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 20px !important;
    border-width: 2px !important;
    text-decoration: none !important;
    transition: background .5s, color .5s !important;
}

.start:hover
{
    background-color: #ffffff !important;
    color: #ff6804 !important;
    transition: background .5s, color .5s !important;
}

.down
{
    font-size: 20px !important;
    background-color: #ffffff !important;
    color: #ff6804 !important;
    border-radius: 90px !important;
    border-color: #000000 !important;
    font-weight: normal !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-width: 2px !important;
    transition: background .5s, color .5s !important;
}

.down:hover
{
    background-color: #ff6804 !important;
    color: #ffffff !important;
    transition: background .5s, color .5s !important;
}

/*seccion2*/
.tsec2
{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.sub{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.sintaxis
{
    text-align: center !important;
}
.hai
{
    font-size: 30px;
    font-weight: bold;
}
.sintax
{
    border-radius: 15px;
    box-shadow: 0 8px 8px 0 #3f3f3f,0 8px 8px 0 #ffffff;
}
.description
{
    font-weight: bold;
}
.use{box-shadow: 0 0 10px 5px;}
.how{font-weight: bold;font-size: 35px;padding-left: 35px;}
.lista{font-size: 17px; padding-left: 20px;}


.start2
{
    background-color: #ff6804 !important;
    color: #ffffff !important;
    border-radius: 90px !important;
    border-color: #000000 !important;
    font-weight: normal !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 20px !important;
    border-width: 2px !important;
    text-decoration: none !important;
}


/*seccion 3*/
.animations
{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

/*sponsors*/

.sponsor
{
    padding-top: 20px;
    text-align: center;
}
.first
{
    background-color: #f96854 !important;
    color: #ffffff !important;
}

/*footer*/
.pie
{
    background-color: #000000;
    padding-top: 30px;
    text-align: center;
    color: #ffffff;
}


/*Media Queries*/

@media(max-width: 325px){
    .seccion1{font-size: 10px; font-weight: bold;}
    .tsec2{font-size: 30px;}
    .br{display: none;}
    .btn-catto{width: 100px; font-size: 15px !important;}        
}

@media(max-width: 380px){
    .seccion1{font-size: 40px !important; text-align: center !important;}
    .tsec2{font-size: 35px !important;}
    .sub{font-size: 20px !important;}
    .br{display: none !important;}
}

@media(max-width: 430px){
    .seccion1{font-size: 40px !important; text-align: center !important;}
    .br{display: none !important;}
    .sub{font-size: 20px !important;}
    .tsec2{font-size: 40px !important;}
}